<h1>New Blog</h1>
<%= form_for(@blog, id:'blog_form') do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= render 'form', locals={f:f}%>
<div class="actions">
  <%= f.submit %>
</div>
<%end%>

<%= link_to 'Back', blogs_path %>
